input.inactiveInput::placeholder {
    font-family: "ProximaNova-Light";
    font-size: "14px";
    font-weight: "300";
    font-style: "normal";
    line-height: "20px";
    letter-spacing: "0.52px";
    color: "#b1b1b1";
}

input.activeInput {
    color: "#4a4a4a";
    font-family: "ProximaNova-Light";
    font-size: "14px";
    font-weight: "300";
    font-style: "normal";
    line-height: "20px";
    letter-spacing: "0.52px";
}