@import "~bootstrap/scss/bootstrap";
@import '_fonts.scss';
@import "_inputs.scss";

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    scrollbar-width: none;
    // Added to fix an issue with Mobile Safari scaling fonts incorrectly
    // https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
    // We should really be using em's instead but this is quicker for now
    -webkit-text-size-adjust: 100%;
}

input:focus {
    outline: none;
}